<%= form_with model: [ @song, @song.phrases.build ] do |form| %>
  <p>
    <%= form.label :sentence %><br>
    <%= form.text_field :sentence %>
  </p>

  <p>
    <%= form.label :translation %><br>
    <%= form.text_field :translation %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>