<%= form_with model: song do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>

    <%= song.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :lyrics %><br>
    <%= form.text_area :lyrics %>

    <%= song.errors.full_messages_for(:lyrics).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>