<section class="container">
  <h1><%= @song.title %></h1>
  <%= render 'embed', song_link: @song_link %>
  <div class="row">
    <div class="col s8">
      <% if @song.phrases.count < 1 %>
        <h4>Let's get started</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <% else %>
        <h4>Your Progress</h4>  
      <% end %>

      <%= render 'phrases/form' %>

      <% @song.phrases.each do |phrase| %>
        <% unless phrase.id.nil? %>
          <span><%= phrase.sentence %></span>
          <%= link_to "Edit", edit_song_phrase_path(phrase.song, phrase.id) %>
          <%= button_to 'Delete', [phrase.song, phrase], method: :delete %><br>
        <% end %>
      <% end %>
    </div>

    <div class="col s4">
      <h4>Reference</h4>
      <p><%= simple_format(@song.lyrics) %></p>
    </div>
  </div>

  <ul>
    <li><%= link_to "Edit", edit_song_path(@song) %> </li>
    <li>
      <!-- <%= link_to "Delete", song_path(@song), data: { turbo_method: :DELETE, turbo_confirm: "Are you sure?" } %> -->
      <%= button_to 'Delete', song_path(@song), method: :delete %>
      </li>
  </ul>

 
</section>