<section class="container">
  <h1><%= @song.title %></h1>
  <%= render 'embed', song_link: @song_link %>
  <div class="row">
    <div class="col s8">
      <h4>Your Progress</h4>

      <%= render 'phrases/form' %>

      <% @song.phrases.each do |phrase| %>
        <span><%= phrase.sentence %></span><br>
      <% end %>

    </div>

    <div class="col s4">
      <h4>Reference</h4>
      <p><%= simple_format(@song.lyrics) %></p>
    </div>
  </div>

  <ul>
    <li><%= link_to "Edit", edit_song_path(@song) %> </li>
    <li>
      <!-- <%= link_to "Delete", song_path(@song), data: { turbo_method: :DELETE, turbo_confirm: "Are you sure?" } %> -->
      <%= button_to 'Delete', song_path(@song), method: :delete %>
      </li>
  </ul>

 
</section>