<section class="container">
  <h1><%= @song.title %></h1>
  <%= render 'embed', song_link: @song_link %>
  <div class="row">
    <div class="col s8">
      <h4>Your Progress</h4>

      <%= render 'phrases/form' %>

      <% @song.phrases.each do |phrase| %>
        <%# TODO: Check this later. Shouldn't need a nil check here but .each is looping one extra time breaking link_to %>
        <% unless phrase.id.nil? %>
          <span><%= phrase.sentence %></span>
          <%= link_to "Edit", edit_song_phrase_path(phrase.song, phrase.id) %>
          <%= button_to 'Delete', [phrase.song, phrase], method: :delete %><br>
        <% end %>
      <% end %>
    </div>

    <div class="col s4">
      <h4>Reference</h4>
      <p><%= simple_format(@song.lyrics) %></p>
    </div>
  </div>

  <ul>
    <li><%= link_to "Edit", edit_song_path(@song) %> </li>
    <li>
      <!-- <%= link_to "Delete", song_path(@song), data: { turbo_method: :DELETE, turbo_confirm: "Are you sure?" } %> -->
      <%= button_to 'Delete', song_path(@song), method: :delete %>
      </li>
  </ul>

 
</section>